@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    max-width: 100%;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inter;
}
:root {

    --defined-color: #6D6D6D;
    --primary-color: #376AEA;
    --light-primary-color: #0583AA;

    --secondary-color: #FF6B00;
    --white-color: #fff;
    --accent-color: #E5E5E5;
    --black-color: #000;
    --grey-color:#4E4E4E;                    
    --ash-color:#454545;                                                               
    --link-text-size: 24px;

    /* font-sizes */
    --biggest-text: 3rem;
    --biggest-lineheight: 3.5rem;

    --big-text: 2.25rem;
    --big-lineheight: 2.5rem;
    --medium-text: 1.25rem;
    --paragraph-text: 1.5rem;
    --paragraph-lineheight: 1.8rem;
    --medium-lineheight: 1.5125rem; 
    --small-text: 1rem;
    --small-lineheight: 1.21rem;
    --smallest-text: 13px;
    --smallest-lineheight: 0.983rem;
    --big-span-text: 2.5rem;
    --big-span-lineheight: 3rem;




    /* gap */
    --medium-gap: .5rem;
    /* border-radius */
    --radius: .625rem;

    --medium-padding: .95rem;
    --small-padding: .625rem;
    --big-padding: 1.85rem;
}

/* global styles */
.calendar {
  width: 449px;
  height: 266px;

}
body {
    color: var(--primary-color);
}
.row {
    display: flex;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .big_text {
    font-size: var(--big-text);
    line-height: var(--big-lineheight);
  }
  .biggest_text {
    font-size: var(--biggest-text);
    line-height: var(--biggest-lineheight);
    font-weight: 700;
  }
  .big_span {
    font-size: var(--big-span-text);
    line-height: var(--big-span-lineheight);
    font-weight: 700;
  }
  .paragraph {
    font-size: var(--paragraph-text);
    line-height: var(--paragraph-lineheight);
    font-weight: 300;
  }

  .medium_text {
    font-size: var(--medium-text);
    line-height: var(--medium-lineheight);
  }

  .red_text {
    color: var(--primary-color);
  }

  /* button styles */
  .button, router-link {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    border-radius: var(--radius);
    font-size: var(--medium-text);
    line-height: var(--medium-lineheight);
    font-weight: 700;
    max-width: 252px;
    padding: var(--small-padding) var(--big-padding);
    align-self: center;
    cursor: pointer;

  }

  .button:hover, .button:active {
    background-color: var(--primary-color);
  }

  .nav_menu {
    color: var(--ash-color);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--link-text-size);
    line-height: 30px;
    font-weight: 500;
  }

  .nav_menu:hover, .nav_menu:active {
    color: var(--secondary-color);
  }
  /* home */
  .home {
    justify-content: center;
    align-items: center;
    gap: var(--big-padding);
  }
.hero {
  width: 100%;
  height: 100dvh;
  background-color: var(--primary-color);
  color: var(--white-color);
align-items: center;
}
.navbar {
  position: absolute;
  width: 100%;
  padding:.3rem 3rem;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  flex: 1;
  background-color: var(--white-color);
  color: var(--ash-color);
  
}
.navbar_onboard {
  /* position: fixed; */
  width: 100%;
  padding:2rem 3rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -80px;
  /* z-index: 10; */
  
}
.navbar_login {
  margin-bottom: -10px;
}
.nav_menus, .nav_buttons {
  justify-content: space-evenly;
  gap: var(--big-padding);
  align-items: center;
  color: var(--ash-color);
}
.nav_menus {
  color: var(--ash-color);
padding: var(--medium-padding) 2rem;
border-radius: 15px;
}
.logo {
  width: 77x;
  height: 76px;
}
.logo_box {
  background: var(--white-color);
  padding: .5rem;
  border-radius: 10px;

}
.plus_image {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
  width: 100%;
  max-width: 1440px;
  /* height: 949px; */
}
.pattern_image {
  position: absolute;
  
  top: 110px;
  left: 0;
  z-index: 3;
  width: 100%;
  opacity: .3;
  max-width: 1440px;
  /* height: 698px; */
}

.hero_text {
  position: relative;
  z-index: 5;
  max-width: 909px;
  margin: 200px auto;

}
.hero_text > .paragraph {
  max-width: 834px;
  text-align: center;
}

/* mocku0p style */
.mockup {
  position: relative;
  z-index: 5;
  top: -250px;
  height: 100%;
  min-height: 740px;
  width: 100%;
  min-width: 1184px;
}
  /* onboarding design starts */
  .onboard {
    text-align: center;
    gap: var(--medium-gap);
    padding-top: 100px;
  }
  .onboard_form {
    color: var(--white-color);
    font-size: var(--paragraph-text);
    font-weight: 400;
    line-height: var(--pargraph-lineheight);
    margin-bottom: 50px;
    gap: var(--medium-gap);
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 35%; */
    margin: 30px auto;
    margin-bottom: 5rem;
  }

  .onboard_form .onboard_button {
    margin-top: 3rem;
  }
  .form_box {

    justify-content: flex-start;
    margin: 0 auto;
    gap: 1rem;
    align-items: flex-start;
    font-size: var(--paragraph-text);
    line-height: var(--paragraph-lineheight);

    
  }
.label, option {
border-radius: var(--radius);
background-color: var(--primary-color);
text-align: left;
padding: 1rem 1rem;
width: 252px;
max-height: 53px;
font-size: 20px;
font-weight: 400;
}

input {
    border: none;
    border-radius: var(--radius);
    width: 635px;
    height: 53px;
    background-color: var(--accent-color);
    padding-left: 1rem;
    border: 1px solid var(--black-color);

  }
  select {
    background-color: var(--accent-color);
    border: none;
    border-radius: var(--radius);
  }
  select::selection, select:focus {
    color: var(--primary-color);
    border: none;
  }
  
  input:focus, select:focus {
    outline: 1px solid var(--primary-color);
  }

  .onboard .big_text {
    text-transform: uppercase;
    width: 90%;
    max-width: 392px;
    margin: 0 auto;
    font-weight: 600;
    color: var(--black-color);

  }

  .upload_text {
    vertical-align: middle;
    color: var(--primary-color);

  }
  .default_upload {
    display: none;
  }
  .onboard_upload {
    background-color: var(--accent-color);
    padding: var(--small-padding) var(--big-padding);
    height: 53px;
    border: none;
    border-radius: var(--radius);
    width: 252px;
    gap: var(--medium-padding);
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

  }

.onboard_button {
  /* justify-self: flex-end; */
  align-self: flex-end;
  /* border: 2px solid red; */
  /* margin-left: 15rem; */
}
  
  /* loginpage designs */
  .login_page {
    flex: 1;
    overflow-x: hidden;
  }
  .login_page-left {
    flex-shrink: 1;
    width: 50%;
    justify-content: center;
    align-items: center;    
    width: 50%;
    gap: var(--big-padding);

  }
.loginpage_box {
  gap: var(--medium-gap);
}
.change_team {
text-decoration: underline;
border: none;
background-color: transparent;
font-size: 20px;
line-height: 24.2px;
font-weight: 400;
color: var(--defined-color);
}
  .client_logo {
    width: 107px;
  }
  .client_name {
    font-weight: 600;
  }

  .login_form {
    gap: var(--medium-gap);

  }
  .login_input {
    width: 460px;
    height: 54px;
  }
  .login_input::placeholder, select::selection, option::placeholder {
    color: var(--black-color);
    padding-left: var(--medium-padding);
    font-weight: 400;
    font-size: var(--medium-text);
    line-height: var(--medium-lineheight);
  }
option {
  background-color: var(--white-color);
  color: var(--primary-color);
  font-weight: 500;
  font-size: var(--medium-text);
  line-height: var(--medium-lineheight);
  border: none;
  max-width: 95%;
}
  .login_page-right {
    width: 50%;
    /* border: apx solid var(--secondary-color); */
    /* flex-shrink: 1; */
    background-color: var(--primary-color);
position: relative;
height: 100dvh;
  }
  .login-pattern {
    position: absolute;
    z-index: 1;
    height: 100dvh;
    top: 0px;
    right: 0;
  }
  .login-pattern2 {
    position: absolute;
    z-index: 2;
    top: -100px;
    left: 5px;
    height: 100dvh;
  }
  .nurse_image{
    width: 616px;
    /* max-width: 706px; */

    max-height: calc(100dvh - 30px);
    height: 720px;

    /* height: 1000px; */
    overflow: hidden;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 30px;

  }
  .forgot_password {
    text-decoration: underline;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.5px;
    margin-bottom: var(--big-lineheight);
    color: var(--black-color);
  }

  .impact {
    margin: 18rem auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    flex: 1;
  }


.impact_boxes {
  text-align: center;
  gap: var(--medium-padding);
  margin: 80px auto;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
.impact_box {
  align-items: center;
  justify-content: center;
}
.impact_number {
  font-size: 4rem;
  color: var(--grey-color);
  font-weight: 700;
  line-height: 4.8rem;
}

.impact_texts {
  font-size: 2rem;
  color: var(--black-color);
  line-height: 2.4rem;
  font-weight: 400;
}

.impact .button {
  font-size: var(--big-text);
}

.spectrum {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  gap: var(--medium-gap);
}

.spectrum h2 {
  font-size: var(--biggest-text);
  line-height: var(--biggest-lineheight);
  font-weight: 700;
  max-width: 1200px;

}
.spectrum p               {
  text-align: center;
  max-width: 1006px;
  align-self: center;
  justify-self: center;
  margin: var(--medium-gap) auto;
  color: var(--black-color);
  font-weight: 300;
  margin-bottom: 5rem;
}

/* testimonial  */
.testimonial {
  text-align: center;
  background-color:#C3E9FA;
  justify-content: center;
  align-items: center;
  padding: 5rem 4rem;
  color: var(--black-color);
}

.testimonial h2, .testimonial h3 {
  color: var(--primary-color);
}
.testimonail_first {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 3rem;
}
.testimonail_first p {
  font-size: var(--medium-text);
  line-height: var(--medium-lineheight);
  font-weight: 300;
}

.testimonail_first h2 {
  font-size: var(--biggest-text);
  line-height: var(--big-lineheight);
  font-weight: 700;
}
.testimonial_boxes {
  justify-content: center;
  align-items: center;
  gap: var(--medium-padding);
}
.testimonial_box {
  justify-content: flex-end;
  align-items: center;
  background-color: var(--white-color);
  gap: 1rem;
  margin-top: 100px;
  padding: 0 2rem;
  padding-bottom: 3rem;
}
.testimonial_box .paragraph {
  font-size: var(--small-text);
  line-height: var(--small-lineheight);
  font-weight: 400;
}
.doctor_box {
  position: relative;
  left: 0;
  top: 0;
  margin: -3rem auto;
}

.doctor_rating {
  align-items:center;
  justify-content: center;
}
.doctor_icon {
  width: 199px;
  border-radius: 50%;
  position: relative;
  top: -50px;
  left: 0px;
}
.star_icon {
  width: 126px;
}
/* cta styles */
.cta {
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 3rem;
  margin: 5rem auto;
  margin-bottom: 0;
  gap: 1rem;
  text-align: center;
  font-weight: 600;

}
.cta h3 {
  font-size: var(--biggest-text);
  line-height: var(--big-lineheight);
}

.cta p {
font-size: var(--medium-text);
line-height: var(--medium-lineheight);

}
.cta .button {
font-size: var(--big-text);
font-weight: 700;
width: fit-content;
padding: 1rem 1.5rem;
}
/* footer styles */

.powered_by {
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.logo_box {
  text-decoration: none;
  color: var(--primary-color);

}
.login_footer {
  width: 90%;
  padding: 2rem;
  /* margin: 0 auto; */
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
  color: var(--defined-color);

}
.footer {
  justify-content: space-between;
  align-items: center;
  padding: 1rem ;
  gap: 4rem;
  width: 95%;
  color: var(--black-color);
  font-weight: 500;
  font-size: var(--medium-text);
  line-height: var(--medium-lineheight);
}
.footer_right {
  gap: .5rem;
}
.footer_right img {
  width: 24px;
  height: 24px;
}
.footer_text {
  text-transform: uppercase;
}
.custom_footer {
  width: fit-content;
  margin: var(--big-padding) auto;
  align-items: center;
  justify-content: center;
}

  @media screen and (max-width: 450px) {
    .form_box {
      flex-direction: column;
    }

    /* login page */
    .login_page {
width: 95%;
margin: 0 auto;
padding: 5rem .5rem;

    }
    .login_page-left {
      width: 90%;
    }

    .login_page-right, .nurse_image {
      display: none;
    }

    .login_input {
      max-width: 80%;
      margin: 0 auto;
      
    }
    option, select {
      max-width: 80%;
    }
  }